* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-green: #2ebaae;

@mixin fonts() {
  color: #646464;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 400;
  line-height: 1.75;
}

@mixin headings() {
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

@mixin input() {
  display: block;
  outline: 0;
  border: 0;
  border: solid 1px rgba(160, 160, 160, 0.3);
  font: inherit;
  padding: 0 1em;
  width: 100%;
  &:focus {
    border-color: $primary-green;
    box-shadow: inset 0 0 0 1px $primary-green;
  }
}

@mixin button() {
  transition: all 0.2s ease;
  background: transparent;
  border: 0;
  display: inline-block;
  font-weight: 800;
  height: 4.8125em;
  letter-spacing: 0.25em;
  line-height: 4.8125em;
  font-size: 0.6em;
  cursor: pointer;
  text-align: center;
  font-family: "Raleway", Helvetica, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  box-shadow: inset 0 0 0 1px rgb(160 160 160 / 30%);
  padding: 0 2.5em;
  &:hover {
    box-shadow: inset 0 0 0 1px $primary-green;
  }
}

body,
input,
select,
textarea {
  @include fonts;
}

body {
  padding-top: 3.5em;
  transition: all 0.5s ease;
  background: #f4f4f4;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.5 ease;
  margin: 0 auto;
  max-width: 100%;
  width: 90em;
  padding: 4.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headings;
}

p {
  margin-bottom: 2em;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: $primary-green;
}

.input {
  @include input;
}

ul {
  list-style: none;
  margin-bottom: 2em;
}

.button {
  @include button;
}

.button.large {
  font-size: 0.7em;
  padding: 0 3em;
}

.button.fit {
  width: 100%;
}

.is-menu-visible {
  transition: all 0.5s ease;
  .menu {
    transform: translateX(0);
  }
  .wrapper {
    pointer-events: none;
    opacity: 0.15;
  }
}
